#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20 px;
  background-color: #333;
  color: rgb(196, 183, 5);
}

#navbar h2 {
  margin: 0;
}

#navbar a {
  color: rgb(167, 179, 3);
  text-decoration: none;
}

form {
  display: flex;
  gap: 10px;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff1a1a;
}

.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.menu-dropdown {
  position: absolute;
  top: 64px;
  right: 20px;
  background-color: #444;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1000;
}

.menu-dropdown li {
  margin: 10px 0;
}

.menu-dropdown a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu-dropdown a:hover {
  color: #ff4c4c;
}
